# FastAPI и веб-сервер
fastapi
uvicorn[standard]

# Pydantic с поддержкой валидации email
pydantic[email]

# База данных
sqlalchemy[asyncio]
asyncpg
psycopg2-binary

# Конфигурация
pydantic-settings

# Работа с паролями
passlib[bcrypt]
python-jose[cryptography]

# Миграции базы данных
alembic

python-multipart